:root {
  --yellow: #FFD37B;
  --green: #7EBEBD;
  --pink: #DD7C84;
  --gray: #C5BFC5;
  --black: #17171A;
  --sanserif: 'Acme', san-serif;
  --cursive: 'Engagement', script;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--sanserif);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  color: var(--gray);
  background: var(--black);
  /* background: no-repeat center/cover url('./files/img/succulent-opt.jpg'); */
}

main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-areas: 
    ". . greet greet greet . ."
    ". . search search search . ."
    ". . qa qa qa . ."
    "links links links links links links links";
    place-items: center;
}

h1, h2, h3 {
  margin: 0;
  font-family: var(--cursive);
  text-align: center;
  font-weight: lighter;
}

#greeting {
  font-size: 6vw;
  color: var(--gray);
  grid-area: greet;
}

#compliment {
  font-size: 3vw;
  color: var(--gray);
  grid-area: comp;
  align-self: center;
}

.search-group {
  margin: 1% auto;
  width: 80%;
  grid-area: search;
}

#search-form {
  display: flex;
  justify-content: space-around;
}

.search-icon {
  color: var(--gray);
}

#search {
  width: 97%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 3px solid var(--yellow);
  padding: 0.75%;
  color: var(--gray);
  font-size: 1.05rem;
}

.quick-access {
  width: 80%;
  margin-top: 3%;
  grid-area: qa;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-left: 3px solid var(--green);
  border-right: 3px solid var(--green);
}

.qa-link {
  /* width: 18%; */
  color: var(--pink);
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  padding: 0 1%;
  border-left: 3px solid var(--green);
  border-right: 3px solid var(--green);
}

.links {
  width: 96%;
  margin: 1% auto;
  grid-area: links;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-areas:
  "design activelearn activelearn tools" 
  "design learn learn tools" 
  "design learn learn docs" 
  "ref learn learn docs" 
  "ref comp comp docs";
}

.link-group {
  margin: 1% auto;
  width: 98%;
  border-radius: 10px;
  text-align: left;
}

.title {
  color: var(--gray);
  font-size: 2.8vw;
  margin-top: 0.5%;
  /* padding-bottom: 1%; */
}

.link-wrapper {
  list-style-type: none;
  margin: 1% auto;
  padding-left: 0;
  text-align: center;
}

.lg-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--gray);
}

.lw-wide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
}

.design {
  grid-area: design;
  border: 3px solid var(--green);
}

.design .title {
  text-decoration: double underline var(--pink);
}

.reference {
  grid-area: ref;
  border: 3px solid var(--pink);
}

.reference .title {
  text-decoration: double underline var(--green);
}

.active-learning {
  grid-area: activelearn;
  border: 3px solid var(--yellow);
}

.active-learning .title {
  text-decoration: double underline var(--green);
}

.docs {
  grid-area: docs;
  border: 3px solid var(--yellow);
}

.docs .title {
  text-decoration: double underline var(--pink);
}

.js-tools {
  grid-area: tools;
  border: 3px solid var(--pink);
}

.js-tools .title {
  text-decoration: double underline var(--yellow);
}

.learning {
  grid-area: learn;
  border: 3px solid var(--green);
}

.learning .title {
  text-decoration: double underline var(--yellow);
}

/* Past styles kept to show focus styles 
.link {
  color: var(--purple);
  font-size: 1.5rem;
  text-decoration: none;
}

.link:nth-child(even) {
  color: var(--green);
}

.link:focus {
  outline: 3.5px outset var(--green);
  outline-offset: 5px;
}

.link:focus:nth-child(even) {
  outline: 3.5px outset var(--purple);
}

.link:hover {
  color: var(--gray); 
} 

.courses .link {
  color: var(--green);
  font-size: 1.5rem;
  text-decoration: none;
}

.courses .link:nth-child(even) {
  color: var(--purple);
}

.courses .link:focus {
  outline: 3.5px outset var(--purple);
  outline-offset: 5px;
}

.courses .link:focus:nth-child(even) {
  outline: 3.5px outset var(--green);
}

.courses .link:hover {
  color: var(--white); 
} 
*/

@media screen and (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "greet"
      "search"
      "qa"
      "links";
  }

  #greeting {
    font-size: 15vw;
  }

  .search-group {
    width: 90%;
  }

  .quick-access {
    width: 90%;
    flex-wrap: wrap;
  }

  .links {
    grid-template-columns: 1fr;
    grid-template-areas:
      "activelearn"
      "design"
      "ref"
      "tools"
      "docs"
      "learn"
      "comp";
      justify-items: center;
  }

  .title {
    font-size: 4vw;
  }

  .lg-link {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1100px) {
  main {
    grid-template-areas: 
      ". greet greet greet greet greet ."
      ". search search search search search ."
      ". qa qa qa qa qa ."
      "links links links links links links links";
  }

  #greeting {
    font-size: 8vw;
  }

  #complement {
    font-size: 5vw;
  }

  .quick-access {
    margin-bottom: 2%;
  }

  .title {
    font-size: 3.2vw;
  }

  .lg-link {
    font-size: 1.3rem;
  }

  .lw-wide {
    width: 95%;
  }
}
