:root {
  --yellow: #FFD37B;
  --green: #7EBEBD;
  --pink: #DD7C84;
  --gray: #C5BFC5;
  --black: #17171A;
  --sanserif: 'Acme', san-serif;
  --cursive: 'Engagement', script;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--sanserif);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  background: var(--black);
  color: var(--gray);
  /* background: no-repeat center/cover url('./files/img/succulent-opt.jpg'); */
}

main {
  display: grid;
  grid-template-areas: 
    "greet"
    "search"
    "qa"
    "links"
    "comp";
    place-items: center;
}

h1, h2, h3 {
  margin: 0;
  font-family: var(--cursive);
  text-align: center;
  font-weight: lighter;
}

#greeting {
  font-size: 6vw;
  color: var(--gray);
  grid-area: greet;
}

#compliment {
  font-size: 3vw;
  color: var(--gray);
  grid-area: comp;
}

.search-group {
  width: 60%;
  margin: 1% auto;
  grid-area: search;
  /* border: 1px solid red; */
}

#search-form {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.search-icon {
  color: var(--gray);
}

#search {
  flex-basis: 97%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 3px solid var(--yellow);
  padding: 0.75%;
  color: var(--gray);
  font-size: 1.05rem;
}

.quick-access {
  width: 60%;
  grid-area: qa;
  display: flex;
  justify-content: space-between;
}

.qa-link {
  width: 18%;
  color: var(--pink);
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  border-bottom: 3px solid var(--green);
}

.links {
  width: 96%;
  margin: 1% auto;
  grid-area: links;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "design activelearn tools" 
  "ref docs learn";
  justify-content: center;
  row-gap: 3%;
}

.link-group {
  display: grid;
  grid-template-rows: 0.75fr 1fr;
  margin: 1% auto;
  width: 94%;
  border-radius: 10px;
}

.title {
  color: var(--gray);
  font-size: 3.1vw;
  margin: 1% 10%;
  padding-bottom: 1%;
}

.link-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%;
  align-items: center;
  justify-content: center;
  align-content: start;
  grid-auto-flow: row;
}

.design {
  grid-area: design;
  border: 3px solid var(--green);
}

.design .title {
  border-bottom: 3px solid var(--pink);
}

.reference {
  grid-area: ref;
  border: 3px solid var(--pink);
}

.reference .title {
  border-bottom: 3px solid var(--green);
}

.active-learning {
  grid-area: activelearn;
  border: 3px solid var(--yellow);
}

.active-learning .title {
  border-bottom: 3px solid var(--green);
}

.docs {
  grid-area: docs;
  border: 3px solid var(--green);
}

.docs .title {
  border-bottom: 3px solid var(--yellow);
}

.js-tools {
  grid-area: tools;
  border: 3px solid var(--pink);
}

.js-tools .title {
  border-bottom: 3px solid var(--yellow);
}

.learning {
  grid-area: learn;
  border: 3px solid var(--yellow);
}

.learning .title {
  border-bottom: 3px solid var(--pink);
}

.lg-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--gray);
  text-align: center;
}

/* Past styles kept to show focus styles 
.link {
  color: var(--purple);
  font-size: 1.5rem;
  text-decoration: none;
}

.link:nth-child(even) {
  color: var(--green);
}

.link:focus {
  outline: 3.5px outset var(--green);
  outline-offset: 5px;
}

.link:focus:nth-child(even) {
  outline: 3.5px outset var(--purple);
}

.link:hover {
  color: var(--gray); 
} 

.courses .link {
  color: var(--green);
  font-size: 1.5rem;
  text-decoration: none;
}

.courses .link:nth-child(even) {
  color: var(--purple);
}

.courses .link:focus {
  outline: 3.5px outset var(--purple);
  outline-offset: 5px;
}

.courses .link:focus:nth-child(even) {
  outline: 3.5px outset var(--green);
}

.courses .link:hover {
  color: var(--white); 
} 

/* old media queries
@media screen and (max-width: 600px) {
  body {
    overflow: hidden visible;
  }

  #greeting {
    font-size: 12vw;
  }

  #compliment {
    font-size: 6vw;
  }

  .links {
    margin-left: 3%;
  }

  .references, .courses {
    width: 45%;
    padding-left: 3%;
  }

  .sources {
    align-items: flex-start;
    padding-top: 4%;
  }

  .title {
    text-align: left;
    line-height: 1.45;
    padding: 0;
    margin: 2% 5% 0 0;
  }
}

@media screen and (min-width: 1100px) {
  .hello {
    margin: 2% 0 0 0;
  }

  #greeting {
    font-size: 7vw;
  }

  #compliment {
    font-size: 3vw;
  }

  .title {
    font-size: 3.2rem;
    margin: 1% 20%;
  }

  .links {
    margin-top: 1%;
    padding-bottom: 1%;
    width: 75%;
  }
}
 */