:root {
  --purple: #b082a0;
  --green: #618985;
  --pink: #cb7c82;
  --yellow: #f6f679;
  --offwhite: #fdf7ec;
  --brown: #231b17;
  --sanserif: "Signika Negative", san-serif;
  --cursive: "Quando", script;
}

html {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: var(--sanserif);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--offwhite);
  background: var(--brown);
}

h1,
h2,
h3 {
  margin: 0;
  font-family: var(--cursive);
  text-align: center;
  font-weight: lighter;
}

p {
  text-align: center;
}

.greeting {
  margin-top: 15px;
}

.search-group {
  margin: 3% auto 1%;
  width: 50%;
}

#search-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-icon {
  color: var(--offwhite);
}

#search {
  width: 97%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--offwhite);
  padding: 0.75%;
  color: var(--offwhite);
  font-size: 1.05rem;
}

.links {
  padding: 3%;
  z-index: 2;
}

.links ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(3, 120px);
  grid-template-columns: repeat(6, 120px);
  grid-auto-columns: 120px;
  place-items: center;
  justify-content: center;
  grid-auto-flow: column;
  gap: 14px;
}

.links-spacer {
  grid-row: 3;
  grid-column: 3 / span 5;
  justify-self: stretch;
  border-color: transparent;
}

.links li {
  width: 110px;
  height: 110px;
  margin: 1%;
  color: var(--green);
  text-align: center;
  border-radius: 7px;
  border-style: solid;
  border-width: 3px;
  background-color: var(--brown);
  transition: all 0.2s ease-in-out;
}

.links li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--offwhite);
  width: 100%;
  height: 100%;
}

.links li a:hover {
  color: var(--brown);
}

.links li a p {
  font-size: 1.75rem;
  font-family: var(--cursive);
  margin: 0;
}

.links li a span {
  font-size: 0.6rem;
  word-break: break-word;
  padding: 0 4%;
}

.links-core {
  border-color: var(--green);
}

.links-core:hover {
  background-color: var(--green);
}

.links-ref {
  border-color: var(--pink);
}

.links-ref:hover {
  background-color: var(--pink);
}

.links-learn {
  border-color: var(--purple);
}

.links-learn:hover {
  background-color: var(--purple);
}

.links-tool {
  border-color: var(--yellow);
}

.links-tool:hover {
  background-color: var(--yellow);
}

.design1,
.design2,
.design3 {
  width: 100%;
  height: 30%;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.85;
}

.design1 {
  z-index: 1;
}
